*.tfstate
*.tfstate.*
*.tfvars
.terraform/
*.backup
*.bak
*.swp
*.pem
*.tf.json
*.tfvars
*.tfvars.json
*.tfstate.d/
.terraform.lock.hcl
.terraformrc
override.tf
override.tf.json
_override.tf
_override.tf.json
_auto.tfvars
_auto.tfvars.json
secrets.auto.tfvars
secrets.auto.tfvars.json
*.log
